@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-x: hidden;
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}
/* Prevent layout shift during animation */
.lineChild {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

@font-face {
  font-family: "AlberSans-Regular";
  src: url("../public/Fonts/helveticanowtext-black-demo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlberSans-Bold";
  src: url("../public/Fonts/helveticanowtext-bold-demo.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AlberSans-italic";
  src: url("../public/Fonts/helveticanowtext-bolditalic-demo.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
